body {
  margin: 0px;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif; }

div {
  padding: 0px;
  border: 0px;
  margin: 0px; }

header {
  background: no-repeat url("../img/m-h-day.jpg") 60% 60%;
  height: 500px;
  border-radius: 0 0 30em/10em 0; }
  header .header-wrap {
    width: 500px;
    padding-left: 50px; }
    header .header-wrap .landing-logo {
      font-size: 12px; }
    header .header-wrap .header_heading {
      font-size: 50px;
      font-weight: 700;
      padding: 0;
      color: black; }
    header .header-wrap .header_text {
      font-size: 11px;
      color: black; }
    header .header-wrap .header_button {
      background-color: #a5f506;
      font-weight: bolder;
      color: white; }
  header div a.login {
    padding-left: 100px;
    color: white; }

.section {
  padding-left: 90px;
  padding-bottom: 100px; }
  .section .section_text {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black; }
  .section .section_card {
    background-color: #282828;
    color: white;
    width: 1000px;
    height: 150px;
    border-radius: 5px;
    text-align: center;
    margin: 15px;
    padding: 10px; }
    .section .section_card .section_card_img {
      border-radius: 5px;
      float: left; }
    .section .section_card .section_card_heading {
      font-weight: bold; }
    .section .section_card .section_link {
      font-size: 12px;
      color: white; }
    .section .section_card .section_card_text {
      padding: 0 150px 0 400px;
      font-size: 12px; }
  .section .section_banner {
    position: absolute;
    margin-top: 50px;
    width: 750px;
    height: 100px;
    background: linear-gradient(to right, #a5f506, blue);
    display: flex;
    border-radius: 5px;
    padding: 0 150px 0 150px; }
    .section .section_banner .section_banner_heading {
      font-size: 20px;
      font-weight: bold;
      color: black; }
    .section .section_banner .section_banner_text {
      font-size: 12px;
      color: white; }
    .section .section_banner .section_banner_button {
      width: 80px;
      height: 30px;
      margin: 40px 0 0 250px;
      background-color: #a5f506;
      font-weight: bolder;
      color: white; }

footer {
  color: white;
  background-color: #282828;
  font-size: 11px; }
  footer .footer-wrap {
    padding: 50px 0 0 0;
    display: flex; }
    footer .footer-wrap .footer_text {
      padding: 50px 0 0 350px;
      width: 250px; }
    footer .footer-wrap .footer-cr {
      padding: 80px 0 0 400px; }
